@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #000;
  color: white;
  font-family: "Urbanist", sans-serif;
  min-height: 100vh;
  padding: 30px;
  overflow-x: hidden;
}

.dashboard{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.tank-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7%;
  flex: 1;
}

.title{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tank{
  width: 300px;
  height: 520px;
  border: 4px solid #38bdf8;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background: #1e293b;
}

.fill{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(to top, #0ea5e9, #38bdf8);
  transition: height 0.5s ease;
}

.label{
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
}

.status{
  margin-top: 10px;
  font-size: 18px;
}

.low{
  color: red;
}

.mid{
  color: yellow;
}

.high{
  color: lime;
}

.logs-section{
  width: 100%;
  margin-top: 50px;

}

.logs-section h1{
  margin-bottom: 40px;
  margin-top: 40px;
}


.chart-section{

  width: 100%;
  max-width: 700px;
  height: 550px;
  margin-right: 7%;
  flex: 1;

  

  canvas{
    background-color: rgb(21, 21, 22);
    padding: 30px;
  }
}

.filters{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filters button{
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #111827;
  color: white;
  font-size: 14px;
}

.filters button:hover{
  background: #38bdf8;
}

.filters button.active{
  background: #38bdf8;
}

.logs-table{
  border: 1px solid #222;
  border-radius: 12px;
  overflow: hidden;
}

.logs-header,
.log-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 14px 16px;
  align-items: center;
}

.logs-header{
  background: #111827;
  font-weight: bold;
  border-bottom: 2px solid #38bdf8;
}

.log-item{
  border-bottom: 1px solid #222;
}

.log-item:nth-child(even){
  background: #111;
}

#logs-body{
  max-height: 500px;
  overflow-y: auto;
}

@media screen and (min-width: 768px){

  .dashboard{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logs-section{
    margin: auto;

  }

}





